<section class="thirteen columns">
    <h1>Certificates</h1>
    <article>
        <header>
            <h1>Tableau</h1>
            <span>Desktop Qualified Associate — <time>Jan 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Microsoft®</h1>
            <span>Certified Solutions Associate: BI Reporting — <time>Jan 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Scrum Alliance</h1>
            <span>Certified ScrumMaster® (CSM®) — <time>Oct 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Udacity</h1>
            <span>Data Analyst Nanodegree  — <time>Mar 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Udacity</h1>
            <span>Introduction to Programming Nanodegree  — <time>Dec 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Udacity</h1>
            <span>Business Analyst Nanodegree  — <time>Jun 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>California Board for Professional Engineers, Land Surveyors, and Geologists</h1>
            <span>Engineer-in-Training  — <time>Feb 2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Dassault Systèmes</h1>
            <span>Certified SolidWorks Professional (CSWP)  — <time>Apr 2013</time></span>
        </header>
    </article>
</section>
