<section class="thirteen columns">
    <h1>Certificates</h1>
    <article>
        <header>
            <h1>Tableau</h1>
            <span><a href="https://www.tableau.com/learn/certification/desktop-certified-associate">Desktop Qualified Associate</a> ( — <time>Jan 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Microsoft®</h1>
            <span><a href="https://www.microsoft.com/en-us/learning/mcsa-bi-reporting.aspx">Certified Solutions Associate: BI Reporting</a> (H022-1560) — <time>Jan 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Scrum Alliance</h1>
            <span><a href="https://bcert.me/bc/html/show-badge.html?b=jnpbisju">Certified ScrumMaster®</a> (944073) — <time>Sept 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Udacity</h1>
            <span>Data Analyst Nanodegree  — <time>Mar 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Udacity</h1>
            <span>Introduction to Programming Nanodegree  — <time>Dec 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Udacity</h1>
            <span>Business Analyst Nanodegree  — <time>Jun 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>California Board for Professional Engineers, Land Surveyors, and Geologists</h1>
            <span><a href="https://www.bpelsg.ca.gov/applicants/eit_lsitapp.shtml">Engineer-in-Training</a> (EIT 151790) — <time>Feb 2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Dassault Systèmes</h1>
            <span><a href="https://www.solidworks.com/sw/support/797_ENU_HTML.htm">Certified SolidWorks Professional</a> (C-VDB5QFY3KT) — <time>Apr 2013</time></span>
        </header>
    </article>
</section>
