<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.S. in Mechanical Engineering</h1>
            <span>University of California, Los Angeles (UCLA)</span>
            <span><address>Los Angeles, CA</address><time>2009 to 2013</time></span>
        </header>
        <header>
            <h1>Udacity</h1>
            <span><a href="https://github.com/kaishengteh/Data-Analyst-Nanodegree">Data Analyst Nanodegree</a> — <time>Mar 2018</time></span>
        </header>
        <header>
            <h1>Udacity</h1>
            <span><a href="https://github.com/kaishengteh/Introduction-to-Programming-Nanodegree">Introduction to Programming Nanodegree</a> — <time>Dec 2017</time></span>
        </header>
        <header>
            <h1>Udacity</h1>
            <span><a href="https://github.com/kaishengteh/Business-Analyst-Nanodegree">Business Analyst Nanodegree</a> — <time>Jun 2017</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
</section>
