<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>GLOBALFOUNDRIES</h1>
            <h5>Performance Improvement / Data Analyst III</h5>
            <span><address>Singapore</address><time>May 2018 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>GLOBALFOUNDRIES</h1>
            <h5>Business Intelligence / Capacity Planner II</h5>
            <span><address>Singapore</address><time>Mar 2016 to May 2018</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>GLOBALFOUNDRIES</h1>
            <h5>Project Engineer & Cost Analyst I</h5>
            <span><address>Singapore</address><time>Sept 2014 to Feb 2016</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
</section>
