<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Proficient with:</h1>
        </header>
        <p>
            <em>Tableau, Microsoft Excel, Power BI, GitHub, G Suite (Google Apps)</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Familiar with:</h1>
        </header>
        <p>
            <em>SQL, HTML, Python, R</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Languages:</h1>
        </header>
        <p>
            <em>English, Mandarin Chinese, Malay; basic German</em>
        </p>
    </article>
</section>
